<ul class='buff-list {{css}} {{#if empty}}collapse{{/if}}'>
	{{#each entries}}
	<li class='buff {{css}} {{#if condition.invalid}} invalid{{/if}}'
		{{#if conditionId}}data-condition-id='{{conditionId}}'{{/if}}
		{{#if item}}data-item-id='{{item.id}}'{{/if}}
		{{#if permanent}}data-permanent='true'{{/if}}
		data-uuid='{{@root.uuid}}' data-action='toggle'>
		<img src='{{img}}'>
		<h4 class='fast-label'>{{label}}</h4>
	</li>
	{{/each}}
</ul>
