{{#*inline "spellLevel"}}
<div name="level{{level}}-list" id="level{{level}}-list" class="form-group flexrow level-list {{#if (ne @root.linkLevel level)}}fs-hidden{{else}}fs-block{{/if}}">{{!-- data-spellList0="{{listLevel0}}"> --}}
	<ul id="spellList{{level}}" name="spellList{{level}}" class="spell-level-list">
		{{#if (gt spellList.length 0)}}
		{{#each spellList}}
			<li data-action="toggleSpell" class="{{#if this.checked}}active{{/if}}" data-name="{{this.name}}">
				<img class="spell-icon" src="{{this.img}}" title="{{this.name}}"></img>
				<label>{{this.name}}</label>
				{{#if this.uuid}}
				<a data-action="openSpell" data-uuid="{{this.uuid}}" data-tooltip-text="UUID: {{this.uuid}}">
					<i class="fa-solid fa-book compendium-icon" inert></i>
				</a>
				{{/if}}
			</li>
		{{/each}}
		{{/if}}
	</ul>
</div>
{{/inline}}

<form autocomplete="off">
	<div class="main-grid align-start">
		<div class="actor-info">
			{{!-- Linked Actor Display --}}
			<div>
				{{!-- Spellbook Linked Actor selection --}}
				<div class="flexrow">
					<label for="bookOwner">{{localize "SpellBookGenerator.SelectOwner"}}</label>
					{{#unless isGM}}
					<select name="bookOwner" class="book-owner-select">
						{{selectOptions validActorChoices selected=linkedId}}
					</select>
					{{else}}
					<label>{{localize "SpellBookGenerator.GMCanOnlyDrop"}}</label>
					{{/unless}}
				</div>
				<hr>
				<div class="flexrow actor-info-controls">
					<img class="owner-link-img" src="{{linkedImg}}" title="{{localize "SpellBookGenerator.OpenSheet"}}" data-action="openLinkedOwner"></img>

					<span class="owner-unlink" title="{{localize "SpellBookGenerator.Unlink"}}" data-action="unlinkOwner"><i
							class="fas fa-unlink"></i></span>
				</div>
				{{!-- Spellbook Linked Actor info --}}
				<div class="form-group flexrow" data-dtype="String" data-book-owner="{{linkedId}}">
					<label>{{localize "SpellBookGenerator.Name"}}</label>
					<div class="form-fields">
						<input type="text" readonly class="book-owner-name" data-dtype="String"
							value="{{linked.name}}"></input>
					</div>
				</div>
				<div class="form-group flexrow">
					<label>{{localize "SpellBookGenerator.Id"}}</label>

					<div class="form-fields">
						<input type="text" readonly class="book-owner-id" data-dtype="String" value="{{linkedId}}"></input>
					</div>
				</div>
			</div>

			{{!-- Class Selection --}}
			<div class="form-group flexrow" data-dtype="String" data-owner-class="{{linkedClass}}">
				<label for="ownerClass">{{localize "SpellBookGenerator.SelectOwnerClass"}}</label>
				<select name="ownerClass" class="book-owner-select">
					{{selectOptions validClassChoices selected=linkedClass}}
				</select>
			</div>
			<p class="help-text fs-center-text"><i class="fas fa-info-circle"></i> {{{localize "SpellBookGenerator.Instructions"}}}</p>
			<hr>
			{{!-- Commands Section --}}
			<div class="flexcol">
				<h1>{{localize "SpellBookGenerator.Commands.Label"}}</h1>
				<div id="commandsList">
					<button name="saveActor" type="button" data-action="saveBook" data-type="actor" {{#unless this.linked}} disabled{{/unless}}>{{localize "SpellBookGenerator.Commands.SaveToActor"}}</button>
					<button name="saveWorld" type="button" data-action="saveBook" data-type="world">{{localize "SpellBookGenerator.Commands.SaveToWorld"}}</button>
					<button name="restoreActor" type="button" data-action="restoreBook" data-type="actor" {{#unless this.linked}} disabled{{/unless}}>{{localize "SpellBookGenerator.Commands.RestoreFromActor"}}</button>
					<button name="restoreWorld" type="button" data-action="restoreBook" data-type="world">{{localize "SpellBookGenerator.Commands.RestoreFromWorld"}}</button>
					<button name="populateList" type="button" data-action="populateSpellList">{{localize "SpellBookGenerator.Commands.PopulateSpellList"}}</button>
				</div>
			</div>
		</div>
		{{!-- Spell List Display --}}
		<div class="full-height flexcol">
			<div class="flexcol spell-commands">
				{{!-- Spell Level Selection --}}
				<div class="form-group flexrow">
					<label for="spellLevelSelect">{{localize "SpellBookGenerator.spellLevelSelect"}}</label>
					<div class="form-fields">
						<select name="spellLevelSelect" id="spellLevelSelect" class="spell-level-select">
							{{selectOptions spellLevelChoices selected=linkSpellLevel}}
						</select>
					</div>
				</div>
				<div name="spell-buttons" class="spell-buttons flexrow">
					<button name="spellBookCheckAll" type="button" data-action="checkSpells">{{localize "SpellBookGenerator.buttonSpellCheckAll"}}</button>
					<button name="spellBookUncheckAll" type="button" data-action="uncheckSpells">{{localize "SpellBookGenerator.buttonSpellUncheckAll"}}</button>
					<button name="spellBookSubLevel" type="button" data-action="subLevelSpells">{{localize "SpellBookGenerator.buttonSpellSubLevel"}}</button>
					<button name="spellBookAddLevel" type="button" data-action="addLevelSpells">{{localize "SpellBookGenerator.buttonSpellAddLevel"}}</button>
					<button name="spellBookRemoveSpell" type="button" data-action="removeSpells">{{localize "SpellBookGenerator.buttonSpellRemove"}}</button>
					<button name="spellBookStats" type="button" data-action="statsBook">{{localize "SpellBookGenerator.buttonBookStats"}}</button>
					<button name="spellBookBrowser" type="button" data-action="browseSpells">{{localize "SpellBookGenerator.buttonSpellBrowseSpells"}}</button>
				</div>
			</div>
			<div class="spell-grid align-start">
				{{!-- Spell Lists --}}
				<div class="flexcol form-group spell-lists-area">
					<h1 for="spell-lists">{{localize "SpellBookGenerator.spell"}}</h1>
					<div name="spell-zone" class="form-group spell-zone">
						<div name="spell-lists" class="spell-lists">
							{{> spellLevel level=0 spellList=listLevel.[0]}}
							{{> spellLevel level=1 spellList=listLevel.[1]}}
							{{> spellLevel level=2 spellList=listLevel.[2]}}
							{{> spellLevel level=3 spellList=listLevel.[3]}}
							{{> spellLevel level=4 spellList=listLevel.[4]}}
							{{> spellLevel level=5 spellList=listLevel.[5]}}
							{{> spellLevel level=6 spellList=listLevel.[6]}}
							{{> spellLevel level=7 spellList=listLevel.[7]}}
							{{> spellLevel level=8 spellList=listLevel.[8]}}
							{{> spellLevel level=9 spellList=listLevel.[9]}}
						</div>
					</div>
				</div>
				{{!-- Spellbook Details --}}
				<div id="spellStats" class="full-height flexcol {{#if statsHidden}}fs-hidden{{/if}}">
					<div class="form-group flexrow">
						<label>{{localize "SpellBookGenerator.spellStatsTotal"}}</label>
						<div class="form-fields">
							<input type="text" readonly class="book-stats-label" data-dtype="String" value="{{spellBook.spellsTotal}}"></input>
						</div>
					</div>
					<div class="form-group flexrow">
						<label>{{localize "SpellBookGenerator.spellStatsPages"}}</label>
						<div class="form-fields">
							<input type="text" readonly class="book-stats-label" data-dtype="String" value="{{spellBook.pagesTotal}}"></input>
						</div>
					</div>
					<div class="form-group flexrow">
						<label>{{localize "SpellBookGenerator.spellStatsBooks"}}</label>
						<div class="form-fields">
							<input type="text" readonly class="book-stats-label" data-dtype="String" value="{{spellBook.booksTotal}}"></input>
						</div>
					</div>
					<div class="form-group flexrow">
						<label>{{localize "SpellBookGenerator.spellStatsPrice"}}</label>
						<div class="form-fields">
							<input type="text" readonly class="book-stats-label" data-dtype="String" value="{{spellBook.price}}"></input>
						</div>
					</div>
					<div class="form-group flexrow">
						<label>{{localize "SpellBookGenerator.spellStatsValue"}}</label>
						<div class="form-fields">
							<input type="text" readonly class="book-stats-label" data-dtype="String" value="{{spellBook.value}}"></input>
						</div>
					</div>
					<div class="form-group flexrow">
						<label>{{localize "SpellBookGenerator.spellStats0"}}</label>
						<div class="form-fields">
							<input type="text" readonly class="book-stats-label" data-dtype="String" value="{{spellBook.spells0}}"></input>
						</div>
					</div>
					<div class="form-group flexrow">
						<label>{{localize "SpellBookGenerator.spellStats1"}}</label>
						<div class="form-fields">
							<input type="text" readonly class="book-stats-label" data-dtype="String" value="{{spellBook.spells1}}"></input>
						</div>
					</div>
					<div class="form-group flexrow">
						<label>{{localize "SpellBookGenerator.spellStats2"}}</label>
						<div class="form-fields">
							<input type="text" readonly class="book-stats-label" data-dtype="String" value="{{spellBook.spells2}}"></input>
						</div>
					</div>
					<div class="form-group flexrow">
						<label>{{localize "SpellBookGenerator.spellStats3"}}</label>
						<div class="form-fields">
							<input type="text" readonly class="book-stats-label" data-dtype="String" value="{{spellBook.spells3}}"></input>
						</div>
					</div>
					<div class="form-group flexrow">
						<label>{{localize "SpellBookGenerator.spellStats4"}}</label>
						<div class="form-fields">
							<input type="text" readonly class="book-stats-label" data-dtype="String" value="{{spellBook.spells4}}"></input>
						</div>
					</div>
					<div class="form-group flexrow">
						<label>{{localize "SpellBookGenerator.spellStats5"}}</label>
						<div class="form-fields">
							<input type="text" readonly class="book-stats-label" data-dtype="String" value="{{spellBook.spells5}}"></input>
						</div>
					</div>
					<div class="form-group flexrow">
						<label>{{localize "SpellBookGenerator.spellStats6"}}</label>
						<div class="form-fields">
							<input type="text" readonly class="book-stats-label" data-dtype="String" value="{{spellBook.spells6}}"></input>
						</div>
					</div>
					<div class="form-group flexrow">
						<label>{{localize "SpellBookGenerator.spellStats7"}}</label>
						<div class="form-fields">
							<input type="text" readonly class="book-stats-label" data-dtype="String" value="{{spellBook.spells7}}"></input>
						</div>
					</div>
					<div class="form-group flexrow">
						<label>{{localize "SpellBookGenerator.spellStats8"}}</label>
						<div class="form-fields">
							<input type="text" readonly class="book-stats-label" data-dtype="String" value="{{spellBook.spells8}}"></input>
						</div>
					</div>
					<div class="form-group flexrow">
						<label>{{localize "SpellBookGenerator.spellStats9"}}</label>
						<div class="form-fields">
							<input type="text" readonly class="book-stats-label" data-dtype="String" value="{{spellBook.spells9}}"></input>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr>
	<div class="form-group flexrow form-controls">
		<button name="spellBookCancel" type="button" data-action="cancelBook"><span class="fas fa-times-circle"></span> {{localize "SpellBookGenerator.buttonBookCancel"}}</button>
		<button name="spellBookCreate" type="button" data-action="createBook"><span><i class="fab fa-leanpub"></i></span> {{localize "SpellBookGenerator.buttonBookCreate"}}</button>
	</div>
</form>