<form autocomplete='off'>
	<p class='warning'>{{localize 'LittleHelper.Untargeted.Notice'}}</p>
	<ul class='targets'>
		<li class='header' data-token-id='{{id}}'>
			<span class='targeted'> </span>
			<span class='name'>{{localize 'Name'}}</span>
		</li>
		{{#*inline "targetListing"}}
		{{#each this}}
		<li class='target' data-token-id='{{id}}'>
			<span class='targeted {{#if selected}}{{#if targeted}}true{{else}}false{{/if}}{{else}}unselected{{/if}}'>
				{{#if selected}}✔{{else}}☐{{/if}}
			</span>
			<span class='name'>{{token.name}}</span>
		</li>
		{{/each}}
		{{/inline}}

		<li class='category'><span> </span><span>{{localize 'LittleHelper.Untargeted.Invalid'}}</span></li>
		{{> targetListing targets}}

		{{#if included.length}}
		<li class='category'><span> </span><span>{{localize 'LittleHelper.Untargeted.Valid'}}</span></li>
		{{> targetListing included}}
		{{/if}}

		{{#if excluded.length}}
		<li class='category'><span> </span><span>{{localize 'LittleHelper.Untargeted.Excluded'}}</span></li>
		{{> targetListing excluded}}
		{{/if}}
	</ul>
	<p class='question'>{{localize 'LittleHelper.Untargeted.Confirm'}}</p>
</form>
