<p>
  {{localize "ls.priceModifierText"}} 
  <i class='fa fa-question-circle' title='{{localize "ls.priceModifierTooltip"}}'></i>
</p>
<p>
  <input name="price-modifier-percent" id="price-modifier-percent" type="range" min="0" max="200" value="{{priceModifier}}" class="slider">
</p>
<p>
  <label>{{localize "ls.percentage"}}: </label> <input type="number" min="0" max="200" value="{{priceModifier}}" id="price-modifier-percent-display">
</p>
