{{!-- GM SETTINGS --}}
<div class="gm-settings" data-group="sidebar" data-tab="gm-settings">
  <h3 class="gm-header"><i class="fas fa-id-card"></i> {{localize "ls.type"}} <i class="fas fa-info-circle help" onclick="$('.sheet-type-info').toggle();"></i></h3>
  <div class="sheet-type-info">{{localize "ls.typeInfo"}}</div>
  <div class="sheet-types">
    <div class="flexrow">
      <div class="flexcol"><h4 class="sheet-name">{{localize "ls.typeOfSheet"}}:</h4></div>
      <div class="flexcol">
        <select class="sheet-type" name="flags.lootsheetnpcpf1.lootsheettype">
          {{selectOptions lootsheetTypeOptions selected=lootsheettype}}
        </select>
      </div>
    </div>
  </div>
  
  <h3 class="gm-header"><i class="fas fa-users"></i> {{localize "ls.permissions"}} <i class="fas fa-info-circle help" onclick="$('.permission-info').toggle();"></i></h3>
  <div class="permission-info">{{localize "ls.permissionsInfo"}}</div>
  {{#if flags.loot.warning}}
    <div class="warning">{{localize "ERROR.lsInvalidParentPermission"}}</div>
  {{/if}}
  {{#unless flags.loot.warning}}
  <ol class="permissions-list">
    {{#each flags.loot.players as |player p|}}
      <li class="permission">
        <input type="hidden" name="{{player.userId}}" value="{{player.lootPermission}}" data-dtype="Number" actor="{{player.actorId}}"/>
        <a class="permission-proficiency" data-tooltip="{{player.lootPermissionDescription}}">{{{player.icon}}}</a>
        <h4 class="permission-name">{{player.actor}} ({{player.name}})</h4>
      </li>
    {{/each}}

    {{!-- Batch Update --}}
    <div class="batch-update">{{localize "ls.batchUpdate"}}
      <a class="permission-batch" data-tooltip="{{localize "ls.permissionNoaccess"}}" data-perm="0"><i class="far fa-circle"></i></a>
      <a class="permission-batch" data-tooltip="{{localize "ls.permissionLimited"}}" data-perm="1"><i class="fas fa-eye"></i></a>
      <a class="permission-batch" data-tooltip="{{localize "ls.permissionObserver"}}" data-perm="2"><i class="fas fa-check"></i></a>
    </div>
  </ol>
  {{/unless}}

  {{#if (eq lootsheettype "Loot")}}
    <h3 class="gm-header"><i class="fas fa-tools"></i> {{localize "ls.lsOptions"}}</h3>

    {{!-- Loot Settings --}}
    <div class="flexcol gm-header-settings">
      {{!-- Enable Dragging --}}
      <div class="flexrow">
        <h4>{{localize "ls.enableDragging"}} <i class="fas fa-info-circle help" onclick="$('.flagDrop-info').toggle();"></i></h4>
        <input name="flagDragEnabled" type="checkbox" value="{{flags.lootsheetnpcpf1.dragEnabled}}" {{#if flags.lootsheetnpcpf1.dragEnabled}}checked{{/if}} />
      </div>
      <div class="flagDrop-info">{{localize "ls.enableDraggingTooltip"}}</div>

      {{!-- Max Capacity --}}
      <div class="flexrow">
        <h4>{{localize "ls.maxCapacity"}} <i class="fas fa-info-circle help" onclick="$('.flagMaxCapacity-info').toggle();"></i></h4>
        <input name="flagMaxCapacity" type="text" data-dtype="Number" placeholder="e.g. 10" value="{{flags.lootsheetnpcpf1.maxCapacity}}"/>
      </div>
      <div class="flagMaxCapacity-info">{{localize "ls.maxCapacityTooltip"}}</div>

      {{!-- Max Load --}}
      <div class="flexrow">
        <h4>{{localize "ls.maxLoad"}} <i class="fas fa-info-circle help" onclick="$('.flagMaxLoad-info').toggle();"></i></h4>
        <input name="flagMaxLoad" type="text" data-dtype="Number" placeholder="e.g. 200" value="{{flags.lootsheetnpcpf1.maxLoad}}"/>
      </div>
      <div class="flagMaxLoad-info">{{localize "ls.maxLoadTooltip"}}</div>

      {{!-- Sale Value --}}
      <div class="flexrow">
        <h4>{{localize "ls.saleValue"}}<i class="fas fa-info-circle help" onclick="$('.flagSaleValue-info').toggle();"></i></h4>
        <input name="flagSaleValue" type="text" data-dtype="Number" placeholder="e.g. 50" value="{{flags.lootsheetnpcpf1.saleValue}}"/>
      </div>
      <div class="flagSaleValue-info">{{localize "ls.saleValueTooltip"}}</div>

      {{!-- Display Sale Value --}}
      <div class="flexrow">
        <h4>{{localize "ls.displaySaleValue"}} <i class="fas fa-info-circle help" onclick="$('.flagDisplaySaleValueEnabled-info').toggle();"></i></h4>
        <input name="flagDisplaySaleValueEnabled" type="checkbox" value="{{flags.lootsheetnpcpf1.displaySaleValueEnabled}}" {{#if flags.lootsheetnpcpf1.displaySaleValueEnabled}}checked{{/if}} />
      </div>
      <div class="flagDisplaySaleValueEnabled-info">{{localize "ls.displaySaleValueTooltip"}}</div>
    </div>

    {{!-- Coin Distribution --}}
    <h3 class="gm-header"><i class="fas fa-coins"></i> {{localize "ls.coinDistribution"}}</h3>
    <h4>{{localize "ls.currencyTooltip"}}</h4>
    <ol class="coins-list">
      {{#each flags.loot.currency as |c i|}}
        <li class="denomination {{i}}">
          <label>{{ lookup @root.config.currencies i }}:</label>
          <h4 class="denomination-value" data-tooltip="{{localize "ls.currencyTooltip"}}">{{c}} {{localize "ls.each"}}</h4>
        </li>
      {{/each}}
    </ol>
    <button class= "split-coins" type="split-coins" name="split-coins" value="1"><i class="fa fa-coins"></i> {{localize "ls.splitBy"}} {{flags.loot.ownerCount}}</button>
  {{/if}}

  {{#if (eq lootsheettype "Merchant")}}
    <h3 class="gm-header"><i class="fas fa-balance-scale"></i> {{localize "ls.merchantSettings"}} <i class="fas fa-info-circle help" onclick="$('.merchant-settings-info').toggle();"></i></h3>
    <div class="merchant-settings-info">{{localize "ls.merchantInfo"}}</div>

    {{!-- Merchant Settings --}}
    <div class="merchant-settings flexcol gm-header-settings">
      {{!-- Rolltable Selection --}}
      <div class="flexrow">
        <h4>{{localize "ls.rollableTable"}}: </h4>
        <select class="sheet-rolltable" name="flags.lootsheetnpcpf1.rolltable">
          {{selectOptions rolltables selected=rolltable blank="ls.chooseTable" localize=true}}
        </select>
      </div>

      {{!-- Shop Quantity Formula --}}
      <div class="flexrow">
        <h4>{{localize "ls.shopQtyFormula"}}: </h4>
        <input name="flags.lootsheetnpcpf1.shopQty" type="text" data-dtype="String" placeholder="e.g. 1d20" value="{{flags.lootsheetnpcpf1.shopQty}}"/>
      </div>

      {{!-- Item Quantity Formula --}}
      <div class="flexrow">
        <h4>{{localize "ls.itemQtyFormula"}}: </h4>
        <input name="flags.lootsheetnpcpf1.itemQty" type="text" data-dtype="String" placeholder="e.g. 1d4" value="{{flags.lootsheetnpcpf1.itemQty}}"/>
      </div>
    </div>

    <button class="update-inventory" type="update-inventory" name="update-inventory" value="1"><i class="fas fa-balance-scale"></i> {{localize "ls.updateShopInventory"}} </button>
  {{/if}}
</div>