<fieldset class='item-hints-editor koboldworks'>
	<legend>
		<i class="fa-solid fa-puzzle-piece" inert></i>
		{{localize 'Koboldworks.ItemHint.Label'}}
	</legend>

	<fieldset class="custom">
		<legend>{{localize 'Koboldworks.ItemHint.Custom'}}</legend>

		<div class='help-text'>
			<i class="fa-solid fa-info-circle info-symbol"></i>
			{{localize 'Koboldworks.ItemHint.Instructions'}}
		</div>

		<input class="custom-hints" data-dtype="String" type="text" placeholder="{{localize 'Koboldworks.ItemHint.CustomPlaceholder'}}" value='{{value}}'>
	</fieldset>

	<fieldset class="example-output">
		<legend>{{localize 'Koboldworks.ItemHint.ExampleOutput'}}</legend>

		<div class="item-hints koboldworks">

		</div>
	</fieldset>
</fieldset>
